*.iml
.gradle
.kotlin
.vscode
.idea/
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
**/build/
**/bin/
app/release/
/captures
.externalNativeBuild
.cxx
local.properties
Contexto
docs/
fuera_apk/

# Secrets
.env
.env.*
*.key
*.pem
*.p12
*.jks
secrets.properties
backend.zip
*.rar
*.tmp
